* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: aqua;
}

.jogo-memoria{
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.carta {
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px, 1px, 1px rgba(1, 1, 1, 0.3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d; /* não deixa o elemento achatado no plano*/
    transition: transform .9s;

}
.carta:active {
    transform: scale(.97);
    transition: transform .3s;
}

.carta-frente,
.carta-verso {
    height: 100%;
    width: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background:white;
    backface-visibility: hidden;

}

.carta-verso {
    transform: rotateY(180deg);
}

/*animação de flip */
.carta.flip {

    transform: rotateY(180deg);
}